#footerBox {
    background-color: #1C1C1C;
    display: flex;
    padding-top: 30px;
    height: 100%;
    bottom:0;
    padding-bottom: 3%;
}

#box1 {
    margin-right: 40px;
}
#box1 img {
    width: 320px;
    height: 90px;
    margin-left: 40px;
}

#box1 p {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
}

#iconBox {
    margin-top: 15px;
}

#iconBox a {
    margin-left: 20px;
    color: #6495ED;
}

a#link1 {
    margin-left: 50px;
}

#box2 {
    color: white;
}

#box2 p {
    color: white;
}

#box3 {
    margin-left: 6%;
    margin-bottom: 2%;
} 

@media(max-width: 1000px) {
    #footerBox {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #box2 {
        padding-top: 1.5%;
        margin-bottom: 1.5%;
    }

    #box3 {
        margin-left: 0;
        padding-bottom: 2%;
        text-align: center;        
    }
}